.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties

### IntelliJ IDEA ###
.idea/.name
.idea/*.json
.idea/*.xml
.idea/*/*.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
!.idea/*.svg
!.idea/copyright/*.xml

.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
logs/

CLA.txt
CONTRIBUTING.md